.topbar{
    width: 100%;
    height: 50px;
    background-color:white;
   position: sticky;
}
.topbarwrapper
{
    height: 100;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color:blue;
    cursor: pointer;
   
}
.topright
{
    display: flex;
    align-items: center;
    
}
.topiconcontainer
{
    padding: 5px;
    color:grey;
}

.topiconbadge{
    width: 15px;
    height: 15px;
    position:absolute;
    top: 3px;
    right: 90px;
    background-color: red;
    color: white;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}